In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

In [2]:
def job_finder():
    key = input('Enter All Your skills or designation: ').replace(' ','%20')
    df_dic = {}
    company_names = []
    skills_pc = []
    age_pc = []
    location_pc = []
    req_expirience_pc = []
    for seq in range(1,10):
        
        html_text = requests.get('https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords='+key+'&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords='+key+'&pDate=I&sequence='+str(seq)+'&startPage=1').text
        soup = BeautifulSoup(html_text, 'lxml')
        jobs = soup.find_all('li',class_='clearfix job-bx wht-shd-bx')

        # print(job)
        for job in jobs:
            company_name = job.find('h3', class_='joblist-comp-name').text.replace(' ','').replace('\r','').replace('\n','')
            company_names.append(company_name)
            # print(company_name)
            skills =job.find('span',class_='srp-skills').text.replace(' ','').replace('\n','').replace('\r','')
            location =job.find('ul',class_='top-jd-dtl clearfix').span.text.replace(' ','').replace('\n','').replace('\r','')
            exp =job.find('ul',class_='top-jd-dtl clearfix').li.text.replace(' ','').replace('\n','').replace('\r','').replace('card_travel','')
#             print(location)
            location_pc.append(location)
            req_expirience_pc.append(exp)
            skills_pc.append(skills)
            # print(skills)
            age = job.find('span',class_='sim-posted').span.text.replace('\n','')
            age_pc.append(age)
        #     print(age)
    #         print(f"Company Name:\n{company_name}\nSkills: \n{skills}\nage:\n{age}\n---------------\n")


    df_dic['company_name'] = company_names
    df_dic['skills'] = skills_pc
    df_dic['age'] = age_pc
    df_dic['location'] = location_pc
    df_dic['req_expirience'] = req_expirience_pc
    # print(df_dic)  

    df = pd.DataFrame(df_dic)
    df.to_csv('file1.csv')
    return df

In [3]:
df = job_finder()
df.head(50)

Enter All Your skills or designation: data science

,company_name,skills,age,location,req_expirience
0,tcgdigitalsolutionspvtltd,"dataanalytics,functionalanalysis,predictiveana...",Posted few days ago,Kolkata,3-5yrs
1,WowLabz,"github,python,datamining,mining,machinelearnin...",Posted few days ago,Bengaluru/Bangalore,0-1yrs
2,bprisepvtltd,"hive,algorithms,authoring,datamining,sql,pig,d...",Posted few days ago,Mumbai,3-6yrs
3,MaxgenTechnologies(MoreJobs),.,Posted few days ago,"Ahmedabad,Gandhinagar,Mehsana,Rajkot,Surat",0-1yrs
4,MaxgenTechnologies(MoreJobs),.,Posted 4 days ago,"Pune,Jalgaon,Kolhapur,Nagpur,Solapur",0-1yrs
5,MaxgenTechnologies(MoreJobs),.,Posted a month ago,"Ahmedabad,Gandhinagar,Mehsana,Rajkot,Surat",0-1yrs
6,HRJobsPlacements(MoreJobs),"DataScienceAnalyst,DataScience,testmodelqualit...",Posted a month ago,"Bengaluru/Bangalore,Chennai,Delhi/NCR,Hyderaba...",2-7yrs
7,CANVAS27.com(MoreJobs),"r,dataanalysis,logisticregression,sql,datascie...",Posted 4 days ago,"Ahmedabad,Bengaluru/Bangalore,Chennai,Delhi,De...",1-6yrs
8,CANVAS27.com(MoreJobs),"r,dataanalysis,logisticregression,sql,datascie...",Posted 4 days ago,"Hyderabad/Secunderabad,Kolkata,Mumbai,Pune,Cha...",1-6yrs
9,NielsenResearchLtd.Co.,"projectleader,projectmanagement,DataScience",Posted 3 days ago,"Mumbai,Bengaluru/Bangalore",5-8yrs
10,TueboraSoftwarePrivateLimited,"dataanalysis,datascience,businessrequirements,...",Posted few days ago,Bengaluru/Bangalore,1-3yrs
11,Deal4loans,"advancedanalytics,sas,businessrequirements,dir...",Posted 6 days ago,Noida/GreaterNoida,5-8yrs
12,MerkleInc.,"businessrequirements,dashboards,datascience,ad...",Posted few days ago,Pune,1-4yrs
13,MerkleInc.,"businessrequirements,dashboards,sql,datascienc...",Posted few days ago,Pune,2-5yrs
14,cognitioanalytics,"RorPython,SQL,ETL&BI,DataScience",Posted few days ago,Gurgaon,4-7yrs
15,MerkleInc.,"visualization,businessrequirements,bi,dashboar...",Posted few days ago,Pune,0-3yrs
16,ICONPLC,"rfps,database,datascience,datascientist,advanc...",Posted few days ago,,4-7yrs
17,TransOrgAnalytics,"datamining,bi,dashboards,sql,datascience,logis...",Posted few days ago,Gurgaon,3-6yrs
18,Matrimony.comltd,"dataanalysis,predictiveanalytics,spss,sql,fact...",Posted few days ago,Chennai,3-6yrs
19,MerkleInc.,"businessrequirements,bi,dashboards,datascience...",Posted few days ago,Pune,3-6yrs
20,MerkleInc.,"businessrequirements,bi,sas,AWS/GCPsql,dashboa...",Posted few days ago,Pune,3-6yrs
21,alliancerecruitmentagency,"anova,spss,textanalytics,sql,datascience,clust...",Posted few days ago,Kolkata,5-10yrs
22,MetrixLab,"rfps,spss,ensemble,ds,datascience,advancedanal...",Posted few days ago,,0-3yrs
23,MerkleInc.,"businessrequirements,dashboards,advancedanalyt...",Posted few days ago,Pune,6-8yrs
24,MerkleInc.,"businessrequirements,dashboards,advancedanalyt...",Posted few days ago,Pune,8-12yrs
25,MerkleInc.,"businessrequirements,dashboards,advancedanalyt...",Posted few days ago,Pune,6-8yrs
26,RedLotus,"mathematics,spokenenglish,science,statistics",Posted few days ago,Mumbai,15-18yrs
27,Merilytics,"fundamentals,algorithms,python,algorithmdevelo...",Posted few days ago,Hyderabad/Secunderabad,3-5yrs
28,KproSolutions,"python,sas,sql,dataextraction,hadoop",Posted few days ago,Bengaluru/Bangalore,9-12yrs
29,CAPITALONEFINANCIALSERVICESCLIENT,"scala,sql,cloudcomputing,bigdata,san,python,ma...",Posted 6 days ago,,6-9yrs
30,APPLYCUPHIRINGSOLUTIONSLLP,"metadata,bi,datawarehousing,businessintelligen...",Posted few days ago,"Delhi,Delhi/NCR",4-7yrs
31,CAPITALONEFINANCIALSERVICESCLIENT,"cloudcomputing,bigdata,san,python,machinelearning",Posted few days ago,,2-8yrs
32,CAPITALONEFINANCIALSERVICESCLIENT,"scala,sql,bigdata,san,python,machinelearning,i...",Posted few days ago,,6-9yrs
33,CODECNetworks,"hive,algorithms,datamining,pig,sql,java,apache...",Posted few days ago,"Delhi,Delhi/NCR",1-2yrs
34,CAPITALONEFINANCIALSERVICESCLIENT,"bigdata,python,scala,sql,cloudcomputing,san,ma...",Posted few days ago,,6-9yrs
35,CAPITALONEFINANCIALSERVICESCLIENT,"scala,sql,cloudcomputing,bigdata,san,python,ma...",Posted few days ago,,5-8yrs
36,CAPITALONEFINANCIALSERVICESCLIENT,"scala,sql,bigdata,san,python,machinelearning,i...",Posted few days ago,,6-9yrs
37,Merilytics,"fundamentals,algorithms,bigdata,python,c,algor...",Posted few days ago,Hyderabad/Secunderabad,4-8yrs
38,MERITUSINTELYTICSPRIVATELIMITED,"fundamentals,algorithms,bigdata,python,c,algor...",Posted few days ago,Hyderabad/Secunderabad,4-8yrs
39,consiliumsoftwareinc.,"algorithms,artificialintelligence,salesforce,j...",Posted few days ago,"Delhi,Delhi/NCR",0-3yrs
40,Rapido,"bigdata,rest,python,machinelearning,nosql,writ...",Posted few days ago,Bengaluru/Bangalore,6-9yrs
41,CareerXpertsConsulting,"python,naturallanguageprocessing,linearprogram...",Posted few days ago,Hyderabad/Secunderabad,9-15yrs
42,MERITUSINTELYTICSPRIVATELIMITED,"fundamentals,algorithms,python,algorithmdevelo...",Posted few days ago,Hyderabad/Secunderabad,3-5yrs
43,CAPITALONEFINANCIALSERVICESCLIENT,"scala,ds,sql,cloudcomputing,bigdata,san,python...",Posted few days ago,,2-9yrs
44,CAPITALONEFINANCIALSERVICESCLIENT,"scala,ds,sql,cloudcomputing,bigdata,san,python...",Posted few days ago,,6-9yrs
45,MERITUSINTELYTICSPRIVATELIMITED,"fundamentals,algorithms,algorithmdevelopment,m...",Posted few days ago,Hyderabad/Secunderabad,0-3yrs
46,evertz,"production,engineeringsupport,processdata,cutting",Posted few days ago,Bengaluru/Bangalore,3-7yrs
47,TheSmartCubeIndiaPvtLtd,"algorithms,telecom,bigdata,python,machinelearn...",Posted few days ago,Noida/GreaterNoida,6-8yrs
48,TheSmartCubeIndiaPvtLtd,"algorithms,telecom,bigdata,python,machinelearn...",Posted few days ago,Noida/GreaterNoida,10-13yrs
49,Merilytics,"fundamentals,algorithms,algorithmdevelopment,m...",Posted few days ago,Hyderabad/Secunderabad,0-3yrs